*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
font-family:'Poppins';

}
h2{
    font-size: 1.3rem;
}
h1{
    font-size: 3rem;
    color: white;

}
.mainhead{
    position: absolute;
    top: 20%;
    left: 10%;
width: 80%;
margin:3rem auto 10rem;

}
.mainhead h1{
    width: 50%;
border: 1px solid rgb(255, 254, 254);

}
header{
background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../loop studios/images/desktop/image-hero.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
display: flex;
flex-direction: column;
gap: 2rem;
height: 100vh;
position: relative;
}
nav{
    display: flex;
flex-direction: row;
justify-content: space-between;

width: 80%;
align-items: center;
margin: 1.5rem auto;
padding:2rem auto 5rem auto;

}


ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;

}
ul li{
    text-decoration: none;
    color:white ;
    font-size: 14px;
    transition: all 500ms ease;
    cursor:pointer;

}
ul li:hover{
    border-bottom: 1px solid white;
    color: rgb(197, 197, 197);
}
.headernav{
    color: white;
}


/* main section */

.mainbox{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;
    overflow: hidden;
    background-color: white;
    transition: opacity 1s ease-in-out 0.5s;
}
.firstsecton{
    display: flex;
    flex-direction: row;
   margin: 6rem 0;
   position: relative;
}
.firstsecton img{
    width: 60%;
    height: 100%;
}

.firsttextbox{
    position: absolute;
right: -10%;
top: 30%; 
   width: 60%;
    background-color: white;
padding: 2.5rem 2.5rem 1.5rem 3.5rem;
display: flex;
flex-direction: column;
/* background-color: blue; */

}
.firsttextbox h2 {
    font-size: 2rem;
}

.social{
    display: flex;
    flex-direction: row;
margin-left: auto;
gap: 1rem;

}

/* second section */
.secondsection{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head h2{
    font-size: 3rem;

}
.btn{
    border: 1px solid black;
    padding:0.4rem 2rem;
    align-self: center;
transition: all 500ms ease;
cursor:pointer;

}
.btn:hover{
    background-color: black;
    color: white;
    padding:0.4rem 1.8rem;

}

.images{
    width: 100%;
    display: flex;
    flex-direction: column;
gap: 1rem;
/* flex-wrap: wrap; */

}
.images img{
    width: 100%;
}
.imgdesktop{
    border-radius: 10px; 

}
 .firstimages, .secondimages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
gap: 1rem;
    
} 
 .imagetext{
    cursor: pointer;
    transition: transform 1s;
    transition: all 500ms ease;
    position: relative;
    border-radius: 10px; 

    
}
.imagetext:hover{
    transform: translate(0, -2%);
/* background-color: rgb(0, 0, 0); */
}

.text{
    display: flex;
    font-size: 2rem;
    color: rgb(226, 226, 226);
    position: absolute;
    align-self: center;
    align-items: flex-end;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding:0 1rem;
    border-radius: 10px; 

}



.btnmobile{
    display: none;
}
.text3{
    /* width: 10%; */
    padding:0 4rem;

}

/* footer */

footer{
    background-color: black;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.headandsocial{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
align-items: center;
    margin: 1rem auto;
    flex-wrap: wrap;

}
.footerhead, .copyright{
    color: white;
}
.facebook{
    margin-left: auto;
}
.menuandcopyright{
    display: flex;
    flex-direction: row;
width: 80%;
margin: 1rem auto;
flex-wrap: wrap;

}
.social{
    display: flex;
    flex-direction: row;
}
.imgmobile{
    display: none;
}
.copyright{
    margin-left: auto;
}
.hamburger{
    display: none;
}

@media (max-width: 900px) {
  ul{
      display: none;
  }   
  nav{
width: 90%;
}
.hamburger, .headernav{
    display: flex;
    z-index: 2;
}
  .mainhead{
margin:1rem auto 5rem auto;
/* width: 90%; */

}
.imagetext:hover{
    transform: translate(0, -3%);
/* background-color: none; */
}
  .mainhead h1{
width: 100%;
}
.firstsecton{
    flex-direction: column;
}
.firstsecton img{
    width: 100%;
}
.firsttextbox{
position: relative;
/* padding: 0; */
width: 100%;
padding:2rem 0rem ;
margin: 0 auto;
/* margin-left: 3.5rem; */
align-self: center;
}
.btn{
    display: none;
}
.btnmobile{
    display: block;
}
.firstimages, .secondimages{
flex-direction: column;
gap: 1rem;
}
.imgdesktop{
    display: none;
}
.imgmobile{
    display: flex;
}
.text{
    /* font-size: 2rem; */
    color: rgb(226, 226, 226);
    position: absolute;
    align-self: center;
    width: 93%;
    /* padding:0 2rem; */
    /* transform: translate(0%, 110%); */
    z-index: 2;
    pointer-events: none;
}
.navlist{
    display: flex;
    flex-direction: column;
margin: 0%;
align-self: center;
background-color: rgba(7, 7, 7, 0.8);
top: 0%;
left: 0;
height: 70vh;
width: 100%;
padding: 2rem;
position: absolute;
justify-content:flex-end;
align-items: flex-start; 
clip-path: circle(0px at 93% 10%);
transition: all 1s ease;
opacity: 0;

}
.hugeclip{
    /* display: flex; */
clip-path: circle(800px);
transition: all 1s ease;
    opacity: 1;
}
.navlist li{
    font-size: 2em;
transition: all 0.5s ease;
    
}
.navlist li:hover{
color: rgb(155, 148, 148);
    border-bottom: 1px solid white;
}
.headhamburg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.navlistfooter{
    display: flex;
    flex-direction: column;
margin: 0%;
align-self: center;
background-color: black;
align-items: center;
}
/* .navlist li  */
.headandsocial, .menuandcopyright{
    flex-direction: column;
    gap: 1rem;

}
.ourcreations{
margin: 0 auto;
}
footer{
padding: 1rem;
}
.facebook{
    margin: 0;
}
.copyright{
    margin: 0%;
    align-self: center;
}
.social{
    margin: 0 ;
    margin-left: auto;
}
}